.services-title{
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.623);
    text-align: center;
}
.title-underline-div{
    width: 80%;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    margin: 0 auto;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

@media only screen and (max-width:576px){
    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:576px) and (max-width:992px){
    .services-container{
        grid-template-columns: repeat(2, 1fr);
    }
}