.social-container button {
    color: white;
    width: 40%;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: bold;
}

.google-login-btn {
    background: #d14012;
}

.facebook-login-btn {
    background: #445c8a;
}

@media screen and (max-width: 576px) {
    .social-container button {
        width: 80%;
    }
}
@media screen and (min-width:576px) and (max-width: 992px) {
    .social-container button {
        width: 40%;
    }
}