.login-form-container {
    margin: 5% auto;
    padding: 3%;
    width: 40%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}

.form-title {
    color: rgba(0, 0, 0, 0.623);
    font-weight: bold;
}

.login-form {
    text-align: left;
}
.login-form a{
    text-decoration: none;
    font-weight: bold;

}

.login-form button {
    width: 40%;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgba(240, 207, 181, 0.841);
    border: none;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgba(244, 164, 103, 0.841);
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
    background-color: rgba(244, 164, 103, 0.841);
    border-color: rgba(248, 223, 204, 0.911);
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.divider-div div {
    height: 1px;
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.414);
    ;
}

.divider-div p {
    margin: 0 5px 0;
}

.password-reset-span{
    cursor: pointer;
    color: rgba(0, 0, 255, 0.644);
    font-weight: bold;
}

@media screen and (max-width:576px) {
    .login-form-container{
        margin: 20% auto;
        width: 95%;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .login-form-container{
        margin: 10% auto;
        width: 90%;
    }
}