.carousel-caption {
    top: 10%
}

.logo {
    border-radius: 50%;
    width: 30%;
}

.carousel-caption h3 {
    color: rgba(0, 0, 0, 0.67);
    font-size: 40px;
    font-weight: bold;
}

.carousel-caption p {
    color: rgba(0, 0, 0, 0.67);
    font-size: 20px;
}

@media only screen and (max-width:576px) {
    .carousel-caption {
        padding-top: 0;
    }
    .logo {
        display: none;
    }

    .carousel-caption h3 {
        font-size: 16px;
    }
    .carousel-caption p {
        font-size: 12px;
    }
}
@media only screen and (max-width:576px) {
    .small-device-banner img{
        position: relative;
    }
    .small-device-banner div{
        position: absolute;
        top:23%;
        left:8%;
        color: rgba(0, 0, 0, 0.623);
    }
    .small-device-banner h3{
        font-weight: bold;
    }
}
@media only screen and (min-width:576px) and (max-width:992px) {
    .logo {
        width: 20%;
    }
    .carousel-caption h3 {
        font-size: 24px;
    }
    .carousel-caption p {
        font-size: 16px;
    }
}